.tdLst {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    max-height: 300px;
    overflow-y: auto;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #33333329;
        border-radius: 10px;

        &:hover {
            background-color: #5555555b;
        }
    }

    li {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #ededed;
        position: relative;
        padding: 1rem;

        input[type="checkbox"] {
            appearance: none;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 2px solid #bbb;
            margin-right: 10px;
            position: relative;
            outline: none;
            cursor: pointer;

            &:checked {
                border-color: #65c466;
                outline: none;

                &::before {
                    content: '✔';
                    font-size: 14px;
                    color: #65c466;
                    position: absolute;
                    top: 2px;
                    left: 4px;
                }
            }
        }

        label {
            flex: 1;
            font-size: 18px;
            word-break: break-word;

            &.completed {
                color: #b0b0b0;
                text-decoration: line-through;
            }
        }

        .edit {
            flex: 1;
            font-size: 18px;
            padding: 10px;
            border: 1px solid #999;
            margin-left: 10px;
            outline: none;
            box-shadow: inset 0 -1px 2px 1px #99999964;
        }

        .destroy {
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            color: #cc9a9a;
            cursor: pointer;
            visibility: hidden;

            &:hover {
                visibility: visible;
            }
        }

        &:hover .destroy {
            visibility: visible;
        }
    }
}

a {
    text-decoration: none;
}
